#app-header {
  position: fixed;
  top: 0;
  font-size: 2.2rem;
  background-color: $color-light3;
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border-bottom: 4px solid $color-dark;
  h1 {
    @include special;
    color: white;
  }
}

main {
  padding-top: 6em;
}

#nav {
  font-size: 1.6rem;
  padding: 2em;
  button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid $color-light3;
    background-color: white;
    border-radius: 0.4em;
    a {
      display: block;
      line-height: 3em;
      padding: 0 1em;
      text-align: left;
      color: $color-dark;
    }
  }
}
