#header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.6rem;
  padding: 0.6em;
  background-color: white;
}

#app-header {
  @include textbox;
  font-size: 1.2em;
  height: 3em;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    @include special;
    color: white;
  }
}

main {
  padding-top: 8em;
}

#nav {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 0.6em;
  button {
    @include textbox;
    @include hover-dark;
    border: none;
    background-color: $mono-light;
    &:not(:last-child) {
      margin-bottom: 0.6em;
    }
    a {
      display: block;
      line-height: 3em;
      color: $color-dark;
      font-weight: bold;
      transition: all 0.4s;
      text-transform: uppercase;
      .symbol-hover {
        color: $color-light4;
        transition: all 0.4s;
      }
    }
  }
}
