#header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.6rem;
  height: 4.5em;
  background-color: white;
}

#app-header {
  font-size: 1.2em;
  height: 100%;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    @include special;
    color: white;
  }
}

#app-content {
  padding-top: 8em;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
