$color-light1: #f7f7f9;
$color-light2: #f7e733;
$color-light3: #e86a92;
$color-light4: #41e2ba;
$color-dark: #2b2d42;

$mono-light: #f3f3f3;
$mono-medium: #bbb;
$mono-dark: #555;

$font-special: "Comfortaa", cursive;
$font-normal: "Open Sans", sans-serif;

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-normal;
  font-size: 1em;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

@mixin mq($breakdown) {
  @media screen and (min-width: $breakdown) {
    @content;
  }
}

@mixin textbox {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 1em;
  border-radius: 0.4em;
}

@mixin box {
  display: inline-block;
  margin: 0.4em;
  padding: 0.4em;
  border-radius: 0.4em;
  @include mq($breakdown-sm) {
    margin: 1em;
    padding: 1em;
    border-radius: 0.6em;
  }
}

@mixin pill {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 1em;
  border-radius: 999px;
}

@mixin hover-shadow {
  &:hover {
    box-shadow: 0 0 5px 1px $mono-medium;
  }
  transition: all 0.4s;
}

@mixin hover-up {
  &:hover {
    box-shadow: 0 6px 5px $mono-medium;
    transform: translateY(-6px);
  }
  transition: all 0.4s;
}

@mixin hover-bright {
  &:hover {
    filter: brightness(120%);
  }
  transition: all 0.4s;
}

@mixin hover-dark {
  &:hover {
    filter: brightness(95%);
  }
  transition: all 0.4s;
}

@mixin hover-scale {
  &:hover {
    transform: scale(1.05);
  }
  transition: all 0.4s;
}

@mixin special {
  font-family: $font-special;
}
