#error {
  height: 100%;
  padding: 1em;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 1em;
  place-items: center;
}

#error-header {
  @include special;
  font-size: 1.2em;
  color: $color-dark;
  text-align: center;
  text-decoration: underline;
}

#error-return-link {
  @include textbox;
  @include hover-dark;
  background-color: $color-light;
  font-size: 1.2em;
  text-align: center;
}
