#nav {
  display: grid;
  font-size: 1.6rem;
  padding: 0.6em;
  padding-bottom: 1em;
  margin-bottom: auto;
  grid-auto-rows: 5em;
  gap: 1em;

  @include mq($breakdown-sm) {
    padding: 1.2em;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    grid-auto-rows: 8em;
    gap: 2em;
  }

  a {
    @include hover-dark;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.3em;
    background-color: $mono-light;
    color: $color-dark;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    span::before {
      content: "< ";
      color: $color-light4;
    }
    span::after {
      content: " />";
      color: $color-light4;
    }
  }
}

#footer {
  font-size: 1.4rem;
  background-color: $color-light3;
  color: white;
  padding: 1em;
  padding-bottom: 2em;
}
