#note {
  height: 100%;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto 1fr;
}

#note-header {
  height: 4em;
  padding: 1em;
  background-color: white;
  border-bottom: 2px solid $color-light4;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    @include special;
    margin: auto;
    font-size: 1.3em;
  }
}

#note-return-link {
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  font-size: 1.6em;
  border: none;
  border-radius: 0.2em;
  background-color: $color-light4;
  color: white;
}

#note-content {
  padding: 1em;
  padding-top: 0;

  /* Scroll with scrollbars hidden */
  overflow: scroll;
  /* Hide scrollbars in Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* Hide scrollbars in IE and Edge */
  scrollbar-width: none; /* Hide scrollbars in Firefox */

  h3 {
    font-size: 1.2em;
    color: $color-light3;
    margin: 0.6em 0;
    text-transform: uppercase;
  }

  code {
    white-space: pre-wrap;
    display: block;
    background-color: $mono-light;
    font-family: $font-code;
    padding: 0.6em;
    margin: 0.4em 0;
    border-radius: 0.3em;
  }

  hr {
    border: 2px solid $mono-medium;
  }
}
